$text-white: #ffffff;
$text-dark-white: #DBDBDB;
$text-gray: #6D7A7C;
$text-light-gray: #A4A4A4;
$text-aqua: #81BECB;

$border-dark-gray: #252A2C;
$border-white: #ffffff;

$input-bg-black: #1B1E1E;

$bg-black: #181818;
$bg-aqua: #81BECB;
$bg-white: #ffffff;
$bg-dark-gray: #212121;