.film-info {
  padding-top: 70px;
  padding-bottom: 140px;

  .container {
    display: flex;
    gap: 30px;
    position: relative;
  }

  &__bg {
    position: absolute;
    right: -450px;
    top: -540px;
    z-index: -1;
    object-fit: contain;
  }

  &__number {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    font-size: 86px;
    font-weight: 700;
    color: $text-gray;
    z-index: -1;
    transform: translateY(-75%);
  }

  &__banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    position: relative;
    max-width: 428px;
  }

  &__poster {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      transition: 0.3s;
    }
  }

  &__image {
    height: 666px;
    width: 100%;
    transition: 0.3s;
  }

  &__icon {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 75px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }

  &__watch {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 400;
    color: $text-white;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }

  &__poster {
    position: relative;

    &:hover {
      cursor: pointer;

      &::before {
        background-color: rgba(0, 0, 0, 0.5);
      }

      .film-info__icon {
        top: 50%;
        opacity: 1;
        visibility: visible;
      }

      .film-info__watch {
        top: 60%;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__rating {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid $border-dark-gray;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: $bg-black;
  }

  &__kinopoisk {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $text-white;
    border-radius: 50%;
    border: 4px solid #ff8e00;
    box-shadow: -6px -6px 12px 0 #535353, 6px 6px 12px 0 #000000;
  }

  &__imdb {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $text-white;
    border-radius: 50%;
    border: 4px solid #e3ac3c;
    box-shadow: -6px -6px 12px 0 #535353, 6px 6px 12px 0 #000000;
  }

  &__score {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__platform-name {
    font-size: 16px;
    font-weight: 500;
  }

  &__title {
    font-size: 40px;
    font-weight: 500;
    color: $text-white;
    margin-bottom: 15px;
  }

  &__subtitle {
    display: inline-block;
    font-size: 30px;
    font-weight: 400;
    color: $text-white;
    margin-bottom: 30px;
  }

  &-characteristics {
    background-color: $bg-dark-gray;
    border: 2px solid $border-dark-gray;
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 20px;

    &__title {
      color: $text-white;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    &__subtitle {
      color: $text-white;
      font-size: 18px;
      font-weight: 400;
    }
  }

  &-attributes {
    background-color: rgba(28, 29, 31, 0.5);
    border: 2px solid $border-dark-gray;

    &__title {
      color: $text-white;
      font-size: 18px;
      font-weight: 700;
      padding: 15px 20px;
      border-bottom: 2px solid $border-dark-gray;

      &:last-child {
        border-bottom: none;
      }
    }

    &__description {
      color: $text-white;
      font-size: 18px;
      font-weight: 400;
      padding: 15px 20px;
      border-bottom: 2px solid $border-dark-gray;
    }

    &__links {
      display: flex;
      padding: 15px 20px;

      a {
        display: inline-block;
        color: $text-white;
        font-size: 18px;
        font-weight: 400;
        margin-right: 10px;
        transition: 0.3s;

        &:hover {
          color: $text-aqua;
        }
      }
    }
  }

  &-story {
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(28, 29, 31, 0.5);
    border: 2px solid $border-dark-gray;

    &__title {
      color: $text-white;
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 15px;
    }

    &__description {
      color: $text-white;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.4;
    }

    &__more {
      display: block;
      max-width: 40px;
      margin-top: 20px;
      margin-left: auto;
      color: $text-aqua;
      font-weight: 400;
      font-size: 18px;
    }
  }
}

.film-info {
  @media screen and (max-width: 1560px) {
    &__banner {
      width: 30%;
    }

    &__details {
      width: 70%;
    }
  }

  @media screen and (max-width: 560px) {

    padding-bottom: 40px;

    .container {
      flex-wrap: wrap;
    }

    &__banner {
      width: 100%;
    }

    &__details {
      width: 100%;
    }

    &__image {
      object-fit: cover;
    }

    &__icon,
    &__watch,
    &__poster::before {
      display: none;
    }

    &__title {
      font-size: 18px;
      margin-bottom: 8px;
    }

    &__subtitle {
      font-size: 16px;
      margin-bottom: 15px;
    }

    &__characteristics {
      flex-direction: column;
      padding: 10px;
    }

    .col-3,
    .col-4,
    .col-2 {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &-characteristics__title,
    &-characteristics__subtitle {
      font-size: 14px;
    }

    &-attributes {
      .col-4 {
        flex-direction: column;
        justify-content: flex-start;
        width: 33%;
      }

      &__title {
        font-size: 14px;
        padding: 18px 10px;

        
      }

      &__description {
        font-size: 14px;
        padding: 18px 10px;
      }

      &__links {
        padding: 18px 10px;
        flex-wrap: wrap;
      }

      a {
        font-size: 14px;
        margin-right: 10px;
      }
    }
  }

  &-story {
    &__title {
      font-size: 16px;
    }

    &__description,
    &__more {
      font-size: 14px;
    }
  }
}
