.new-selections {
   &:nth-child(5) {
    margin-bottom: 100px;
   }

   &:nth-child(7) {
    margin-bottom: 100px;
   }
}


.selections, 
.new-selections {
    padding-bottom: 60px;


    


    .container {
        position: relative;
        display: flex;
    }

    .swiper-button-next,
    .swiper-button-prev {
        background-color: $bg-aqua;
        width: 29px;
        height: 29px;
        border-radius: 50%;

        &::after {
            font-size: 14px;
            color: $text-white;
        }
    }

    &-btn-next {
        right: 505px;

        &::after {
            margin-left: 2px;
        }
    }

    &-btn-prev {
        left: 44px;

        &::after {
            margin-right: 2px;
        }
    }
}



.popular-collections {
    margin-left: 30px;
    max-width: 428px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;

    .swiper-slide {
        position: relative;
        z-index: 1;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        min-height: 545px;
    }

    &__swiper-button-next {
        right: 50px;
    }

    &__swiper-button-prev {
        right: 475px;
        left: auto;
        opacity: 0;
        visibility: hidden;
    }

    &__title {
        padding: 18px 20px;
        color: $text-white;
        font-size: 22px;
        font-weight: 500;
        background-color: $bg-dark-gray;
        text-transform: uppercase;
    }

    &__subtitle {
        font-size: 36px;
        font-weight: 500;
        color: $text-white;
        max-width: 205px;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    &__image {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        min-height: 545px;
    }

    &__link {
        background-color: $bg-aqua;
        color: $text-white;
        border-radius: 56px;
        padding: 12px 32px;
        text-decoration: none;
        margin-left: 20px;
    }

    &__swiper-pagination {
        text-align: center;
        padding-top: 20px;

        .swiper-pagination-bullet {
            width: 9px;
            height: 9px;
            border: 2px solid $border-white;
            background: transparent;
            opacity: 1;

            &-active {
                background-color: $bg-white;
            }
        }
    }
}

.selections {
    @media screen and (max-width: 1560px) {
        &__block {
            width: 100%;
            max-width: 865px;
        }
        &-btn-next {
            right: 420px;
        }
        &-btn-prev {
            left: 15px;
        }
    }

    @media screen and (max-width: 560px) {
        &-btn-prev {
            display: none;
        }
        &-btn-next {
            display: none;
        }
    }
}
.popular-collections {
    @media screen and (max-width: 1560px) {
        .popular-collections {
            width: 30%;
            max-width: 100%;
        }
        &__swiper-button-next {
            right: 15px;
        }
    }

    @media screen and (max-width: 560px) {
        display: none;

        &__swiper-button-next,
        &__swiper-button-prev {
            display: none;
        }
    }
}

.new-selections {
    @media screen and (max-width: 1560px) {
        .selections__block {
            width: 100%;
            max-width: 100%;
        }
        &-btn-next {
            right: 15px;
        }

        &-btn-prev {
            left: 15px;
        }
    }

    @media screen and (max-width: 560px) {
        &-btn-next,
        &-btn-prev {
            display: none;
        }
    }
}